/*Colours:

#f6d286 yellow
#e96553 red
#7ab2bd lightblue
#252744 darkblue

*/

.bristol-app__map-container {
	background-color: #e96553;
	height: 100%;
	background: url(../images/map.png);
}


#map {
   padding: 5em;
}

.bristol-app__map-container__place {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #7ab2bd;
}

.bristol-app__map-container__nodes-wrapper {
	display: grid;
    grid-template-columns: 25% 21% 10%;
    grid-template-rows: 84% 86% 39%;
    grid-template-areas: 
    	"....... home museum" 
    	"downs canteen ......." 
    	"beeses ........ portishead";
    width: 100%;
}

.home {
	grid-area: home;
}

.museum {
	grid-area: museum;
}

.canteen {
	grid-area: canteen;
}
 
.downs {
	grid-area: downs;
} 

.beeses {
	grid-area: beeses;
}

.portishead {
	grid-area: portishead;
}


@media screen and (max-width: 768px) {

	.bristol-app__map-container__nodes-wrapper {
		grid-template-columns: 30% 30% 30%;
	    grid-template-rows: 56% 109% 30%;
	}
    
}




