/*Colours:

#f6d286 yellow
#e96553 red
#7ab2bd lightblue
#252744 darkblue

*/


.bristol-app__container {
    background: #f6d286 ;
    height: 100%;
    padding: 2em;
}

h2 {
    margin: 0;
    font-size: 3em;
    font-family: 'Lobster', sans-serif;
    color: #e96553;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

label {
 
}

.bristol-app__container__label-wrap {
   margin: 2em 0;
}


.bristol-app__container__label-wrap__intro {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}


.bristol-app__container__nodes-wrapper {
    background-color: #ffffcc;
    padding: 20px;
    border-radius: 8px;
    margin: 2em 0;
}

.bristol-app__container__nodes-wrapper__startpoint,
.bristol-app__container__nodes-wrapper__endpoint {
    font-size: 18px;
}

.bristol-app__container__nodes-wrapper__endpoint {
    margin-top: 50px;
}

.bristol-app__container__nodes-wrapper__startpoint p,
.bristol-app__container__nodes-wrapper__endpoint p {
    color: #e96553;
}


@media screen and (max-width: 768px) {
    
    .bristol-app__container__label-wrap__intro {
        font-size: 14px;
    }

    .bristol-app__container__label-wrap {
       margin: 1em 0;
    }

    .bristol-app__container__nodes-wrapper__startpoint,
    .bristol-app__container__nodes-wrapper__endpoint {
        font-size: 14px;
    }

} 
